@import "fission-app-static/theme";

.heading h1 {
  font-size: 32px !important;
  margin-bottom: 20px;
};

.heading h3 {
  color: $theme-light;
};

.heading .large-icon {
  font-size: 6.0em;
  font-weight: normal;
};
