- @mdcol = "col-sm-#{defined?(width) ? width : 5}"
- @smcol = "col-md-5"

%div{class: "#{@smcol} #{@mdcol}"}
  - if code
    %div
      %pre.highlight{class: code[:lang]}= code[:content]
  - else
    %img{src: image}
