%div.fission-form
  %form.form{ role: "form" }
    - form[:fields].each do |field|
      - if field[:type] == "checkbox"
        %div.checkbox
          %label
            %input{ type: field[:type] }= field[:label]
      - else
        %div.form-group
          %label{ "for" => field[:id] }= field[:label]
          %input{ type: field[:type], id: field[:id], placeholder: field[:placeholder] }
          - if field[:help]
            %p.help-block= field[:help]
    %button.fission-button-big{ type: "submit" }= form[:submit]
