%div.section{ class: section["class"], id: section.id }
  = stylesheet_link_tag "section"
  - if section.has_key?("style")
    = stylesheet_link_tag section["style"]
  %div.container
    - if section.has_key?("data")
      = render :partial => "static/data", locals: { content: section.data }
    - section.content.each do |content|
      = render :partial => "static/display", locals: { content: content }
