%div.section{ class: section["class"], id: section.id }
  %div.container
    - if section.has_key?("data")
      = render :partial => "static/data", locals: { content: section.data }
    - section.fetch(:content, []).each do |content|
      = render :partial => "static/display", locals: { content: content }
